body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
}
.splitMode {
  margin: 1vh 5vw;
  position: relative;
  width: calc(50vw - 10vw);
  max-width: 50vw;
}
.fullMode {
  position: relative;
  margin: 1vh 10vw;
  width: calc(100% - 20vw);
}
.hiddenMode {
  display: none;
}
.editor {
  min-height: 100vh;
}
.preview > * {
  margin: 0;
}
.preview {
  min-height: 100vh;
  font-family: monospace;
  font-size: 16px;
  letter-spacing: normal;
  line-height: calc(1em + 1ex);
  white-space: pre-wrap;
  word-wrap: break-word;
  background: transparent;
  box-sizing: border-box;
}

.litButton {
  border: solid black 3px;
  background: grey;
}

button {
  color: black;
  background: white;
  border: 3px solid transparent;
  margin: 5px;
}
button:focus {
  outline: none;
}
.toolbar > button:hover {
  background: lightblue;
  border: solid black 3px;
}
.toolbar {
  background: white;
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100vw;
  min-height: min-content;
  height: 5vh;
  padding: 5px;
  color: black;
}

textarea,
.draw {
  /* Can’t use a nice font: kerning renders differently in textareas. */
  font-family: monospace;
  font-size: 16px;
  letter-spacing: normal;
  line-height: calc(1em + 1ex);
  white-space: pre-wrap;
  word-wrap: break-word;
  background: transparent;
  box-sizing: border-box;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  resize: none;
}

.draw {
  -webkit-print-color-adjust: exact;
  color: transparent;
}

textarea {
  position: absolute;
  top: 0;
  color: inherit;
}

.editor-container {
  background: white;
  position: absolute;
  top: 5vh;
  left: 0;
  width: 100vw;
  min-height: 95vh;
  display: flex;
}
